html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar-brand {
  font-family: viga;
  font-size: 20px;
  color: white;
}
#navbar .nav-link {
  font-weight: 700;
}

/* Home */
/* jumbotron */
.jumbotron {
  /* background-image: url(../img/baligradasi.jpg); */
  background-size: cover;
  height: 300px;
  text-align: center;
  position: relative;
  background-position-y: -100px;

  /* background-image: url(/img/forest.jpg); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron .display-4 {
  color: white;
  font-size: 40px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-family: ‘Shift’, sans-serif;
}

/* info panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 20px;
}

.icon {
  text-align: center;
}

#gambarIcon img {
  height: 60px;
}
.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacacac;
  margin-top: 5px;
  font-weight: 200;
}

/* Best Tour */
#bestTour img {
  width: 600px;
  border-radius: 15px;
}

#bestTour {
  padding: 50px 0 40px;
}

#bestTour p {
  margin-bottom: 30px;
}
.content2 {
  margin: 70px 0 70px;
  text-align: center;
}

.content2 h3 {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.content2 h3 span {
  font-weight: 700;
}

.content2 p {
  font-size: 18px;
  color: #acacacac;
  margin: 10px 0px 10px 0px;
}

/* gallery */
#gallery {
  padding: 100px 0 100px;
}
.title-gallery-feed {
  color: #fff;
}
.title-gallery-feed {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}

.gallery-feed img {
  filter: gray;
  -webkit-filter: grayscale(1);
  margin-bottom: 30px;
  width: 100%;
}

.gallery-feed img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.more-gallery-feed {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #fff;
  width: 200px;
}

.center {
  text-align: center;
}

.more-gallery-feed:hover {
  /* background: #333; */
  text-decoration: none;
  color: #fff;
}
/* akhir gallery */

/* utility */
.tombol {
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #3cb7ae;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: 150px;
}
.tombol:hover {
  background-color: #359b94;
  margin-top: -4px;
}
.bghitam {
  background-color: #1f1b24;
}

/* desktop */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 10px;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: solid 3px white;
    margin: auto;
    width: 50%;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 60px;
    margin-top: 200px;
  }
}
